@import '../abstract/_variaveis'
.footer
    padding: .5em
    background-color: $amarelo
    margin-top: 1em
    p
        font-weight: bold
        strong
            color: $branco
            text-shadow: 1px 1px 2px $preto