@import '../abstract/_variaveis'
.game-perdedor
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: $pink
    white-space: nowrap
    padding: .8em
    display: flex
    flex-direction: column
    row-gap: .5em
    border-radius: 4px
    .game-perdedor-p
        font-size: 2em
    .game-perdedor-btn
        font-size: 1.4em