@import '../abstract/_variaveis'
.game-balao-categoria
    position: absolute
    top: 0 
    right: 3%
    width: 70px
    background-color: $amarelo
    text-align: center
    font-size: .75em
    padding: .5em .2em
    border-radius: 6px 
    white-space: wrap
    display: flex
    flex-direction: column
    row-gap: .2em
    strong
        text-transform: uppercase