@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')

// cores
$amarelo-1: #FFBF00
$amarelo-2:#FCD100
$amarelo-3: #FFB200
$laranja-1: #f06e1d
$laranja-2: #ffba90
$laranja-3: #fc5304
$pink: #8b008b
$preto: #000
$branco: #fff
$verde-1: #059212
$verde-2: #06D001
$verde-3: #9BEC00
$verde-4: #03580c
$creme: #F3FF90
// fontes
$fonte-primaria: "Ubuntu", sans-serif